<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'resources/styles.css' %}">
    <title>Previous Year Questions</title>
</head>
<body>
    <h1>Previous Year Questions</h1>
    <ul>
        {% for pyq in pyqs %}
            <li>{{ pyq.subject }} ({{ pyq.year }}) - <a href="{{ pyq.file.url }}">Download</a></li>
        {% endfor %}
    </ul>
</body>
</html>
