<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'resources/styles.css' %}">
    <title>Question Banks</title>
</head>
<body>
    <h1>Question Banks</h1>
    <ul>
        {% for question_bank in question_banks %}
            <li>{{ question_bank.subject }} - {{ question_bank.topic }} - <a href="{{ question_bank.file.url }}">Download</a></li>
        {% endfor %}
    </ul>
</body>
</html>
